*.svg
node_modules
dist
.next
.swc
.vscode
.turbo
*.log*
*.pem
*.pnp.js
*.tsbuildinfo
.DS_Store
.env*
!.env.dist
.eslintcache
.history
.pnp
.runtimeconfig.json
.vercel
build
coverage
next-env.d.ts
out
.umi
.temp
pnpm-lock.yaml
